@using Syncfusion.EJ2

@{
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
    ViewData["Title"] = "Home";
 }



<!-- Main -->
    <div id="main">

    <article class="post featured">
        <header class="major">            
            <h2>
                <a href="#">
                  PORTAFOLIO
                </a>
            </h2>
            <p>
                USUARIOS CON PORTALIOS.
            </p>
        </header>
        <a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
        <ul class="actions special">
            <li><a href="#" class="button large">Full Story</a></li>
        </ul>
    </article>
     

    </div>
<!-- Main -->
